.layer0{
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 0;
    filter: blur(4px);
}
.layer1{
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 1;
    filter: blur(8px);
}
.layer2{
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 2;
}